fastapi==0.115.7
uvicorn==0.34.0
elasticsearch==7.0.0
transformers==4.46.3
llama_index==0.10.68
llama-index-llms-huggingface==0.2.8
torch==2.5.1
langchain-ollama==0.2.2
nltk==3.8.1
sse-starlette==2.2.1
sentence-transformers==2.2.2
huggingface_hub==0.23.2








